<div class="nl_index_div">
	<i class="fa fa-envelope"></i>
	<div class="tx1">ایمیل خود را در سایت ثبت کنید.
	<br>تا آخرین تغییرات برای شما ارسال گردد</div>
</div>		
<form method="post" class="email-news" data-wow-delay="1.5s" action="./?do_action=nl_index_ajax">
	<input type="email" placeholder="عضویت در خبرنامه" class="email-news-input" name="email" id="newsmail"><i class="fa fa-envelope"></i>
	<a href="javascript:void(0);" id="newssave" class="email-news-btn">ثبت</a>
</form>
<div id="loader">
 
 </div>