
@font-face {
  font-family: 'BYekan';
  src: url('../fonts/BYekan.eot');
  src: local('?'), url('../fonts/BYekan.woff') format('woff'),
  url('../fonts/BYekan.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'iran';
  src: url('../font/fonts/IRANSans.eot');
  src: local('?'), url('../fonts/IRANSans.woff') format('woff'),
  url('../fonts/IRANSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mj';
  src: local('?'), url('../fonts/IRANSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}